@import "../../assets/style/variables";

.rem-table {
  width: 100%;
  th {
    background: #efefef !important;
  }
  .cell {
    text-align: center;
  }
  .el-table__body {
    tr {
      &:hover {
        &> td {
          background-color: #e7e7e7 !important;
        }
      }
    }
  }
}