@import "../../assets/style/variables";


.highcharts-button {
  .highcharts-button-box {
    fill: $rem;
  }
  text {
    fill: #fff !important;
  }
}

.highcharts-axis-labels {
  text {
    fill: $rem !important;
  }
}

.highcharts-label {
  text {
    fill: $rem !important;
  }
}