@import "variables";
@import "../../assets/style/globals";
@import "~bulma/bulma";
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600&display=swap');

html,body {
  height: 100%;
}
#app {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #5b5b5b;
  position: relative;
  background-color: #f7f6f4;
  height: 100%;

  .wrapper {
    padding: 0 100px;
  }
}

.back-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  padding:3px 10px;
  border-color:$rem;
  color: $rem;
  border-radius: 3px;
  cursor: pointer;
  background: transparent;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: $rem;
    color: #fff;
    transition: all 0.2s ease-in-out;
  }
  &:focus {
    outline: none !important;
  }
}

.overlay-top,
.overlay-bottom {
  background: $rem !important;
}